* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  /* TODO */
}

body {
  background-image: linear-gradient(
    to right,
    rgb(255, 208, 0),
    rgba(255, 98, 0, 0.948)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.search-container {
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  background-color: rgba(255, 179, 0, 0.867);
  border: none;
  border-bottom: 2px solid rgba(255, 98, 0, 0.948);
}
.suggestions {
  max-height: 200px;
  overflow-y: scroll;
}

ul {
  background-color: rgba(255, 179, 0, 0.867);
}
ul li {
  list-style-type: none;
  padding: 10px;
}
ul li:hover {
  background-color: orangered;
}
